html, body {
    font-family: Verdana;
    font-size: 0.8em;
    margin: 0px;
    width: 100%;
    height: 100%;
}

a {
    color: #2C820C;
}

body {
    background-color: lightgray;
    height: 100%;
}

#rightColumnContent tr:hover {
    background: gray;
}

#rightColumnContent tr a {
    text-decoration: none;
}

#rightColumnContent tr a:hover {
    text-decoration: underline;
}

#rightColumnContent tr:hover a {
    color: #00d500;
}

.linkList {
    padding-left: 0px;
    list-style-position: inside;
    line-height: 1.0em;
    font-size: 1.5em;
}

.linkList a {
    text-decoration: none;
}

.linkList a:hover {
    text-decoration: underline;
}

.selectedAttr {
    font-style: italic;
    font-weight: bold;
}

#sideBarContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    height: 100%;
    background-color: silver;
    border-right: 1px solid dimgrey;
}

#sideBarContainer h1,h2 {
    text-align: center;
    line-height: 1.0em;
    margin: 1px;
    font-family: Georgia, serif;
}

#sideBar {
    position: relative;
    padding: 0.7em;
    /*height: 100%;*/
}

#sideBarControls {
    text-align: center;
}

#body {
    position: absolute;
    top: 0px;
    left: 205px;
    right: 0px;
    bottom: 0px;
}

#leftColumn {
    position: absolute;
    width: 400px;
    margin-top: 3px;
}

#rightColumn {
    background-color: lightgray;
    text-align: center;
    overflow: hidden;
    border: 1px solid dimgray;
    margin-left: 403px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    min-width: 400px;
    min-height: 500px;
    border-top-left-radius: 1.3em 1.3em;
    border-top-right-radius: 1.3em 1.3em;
    height: 95%
}

#rightColumnTitle {
    width: 100%;
    height: 3.3em;
    background-color: silver;
    border-bottom: 1px solid dimgray;
}

#rightColumnTitle h1 {
    margin-top: 0em;
}

#rightColumnContent {
    overflow: auto;
    padding: 0.2em;
    height: 93%;
    position: absolute;
    width: 99%;
}

#rightColumnView {
    position: relative;
    width: 100%;
    height: 100%;
}

#rightColumnInfo {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#infoContent {
    width: 100%;
    height: 90%;
    border: none;
}